/* Reset básico */
body, h1, h2, h3, p, ul, li, form, input, textarea {
    margin-bottom: 1rem;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo Geral */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
}

section {
    margin-bottom: 2rem; /* Espaço inferior entre as seções */
}

/* Cabeçalho do site */
header {
    background-color: #000000; /* Adicione essa linha para deixar o fundo preto */
    color: #FFFFFF; /* Altere a cor do texto para branco */
    padding: 5px;
    text-align: center;

}

header h1 {
    font-size: 3rem;
    font-weight: bold;
}

/* Navegação do site */
nav {
    background: #444;
    color: #fff;
    padding: 1rem;
}

.lista-navegacao {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.lista-navegacao li {
    margin-right: 1rem;
}

.lista-navegacao a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    transition: color 0.3s ease;
}

.lista-navegacao a:hover {
    color: #e53939;
}

/* Área principal do site */
main {
    padding: 2rem;
}

/* Estilo de containers */
.container {
    max-width: 1200px;
    margin: auto;
}

/* Home */
.container-home {
    max-width: 100%; /* Garante que o container da home ocupe toda a largura disponível */
    margin: auto;
    padding: 50px;

}

.imagem-nome {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-perfil {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
}

.imagem-perfil img {
    width: 75%;
    height: auto;
    object-fit: cover;
    display: block;
    position: center;
    border: 2px solid #e53939; 
    border-radius: 10px;
}


.nome-perfil {
    padding-top: 20px; /* Limita a largura do texto */
     text-align: center; /* Centraliza o texto */
}

.nome-perfil h1 {
    font-size: 3rem; /* Tamanho do texto "SOU Gisely Oliveira" */
    margin: 0; /* Remove a margem padrão do h1 */
}

#perfil h2 {
    font-size: 2.5rem; /* Aumenta o tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    margin-top: 20px;
}

/* Perfil */
.container-sobre-mim {
    background-color: #f5f5f5;
    padding: 50px;
    border: 2px solid #e53939; 
    border-width: 0,5px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 2rem; 
}

.perfil-titulo {
    text-align: center;
    margin-bottom: 2rem;
    border-bottom: 2px solid #e53939; 
}

.perfil-titulo h2 {
    font-size: 2.5rem;
    font-weight: bold;
     display: inline-block;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    color: #333;
}









/* Utilizando Grid */
.content-container {
    padding: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas principais */
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
}

/* Imagem do Perfil */
.imagem-container {
    grid-column: 1 / -1; /* Faz com que a imagem ocupe toda a largura do grid */
    text-align: center;
    margin-bottom: 2rem; /* Espaçamento abaixo do bloco */
}

.imagem-container img {
    width: 100%; /* Faz com que a imagem se ajuste ao container */
    max-width: 350px; /* Tamanho máximo da imagem */
    height: auto; /* Manter proporção da imagem */
    display: block; /* Remove espaços em branco ao redor da imagem */
    object-fit: cover;
}

/* Blocos de Conteúdo */
.sobre-mim, 
.info-pessoais, 
.motivos, 
.gostos-pessoais {
    padding: 1rem;
    border-radius: 8px;
    background-color: #ffffff; 
    box-shadow: 0 2px 5px #000000; /* Adicionando sombra para profundidade */
}

.sobre-mim {
    grid-column: 1 / 2; 
    font-family: 'Open Sans', sans-serif; 
    padding: 20px;
}

.info-pessoais {
    grid-column: 2 / 3; 
    font-family: 'Open Sans', sans-serif; 
    padding: 20px;
}

.motivos, 
.gostos-pessoais {
    grid-column: 1 / 3; 
    font-family: 'Open Sans', sans-serif; 
    padding: 20px;
}

.sobre-mim h3, 
.motivos h3, 
.info-pessoais h3, 
.gostos-pessoais h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}

.sobre-mim p, 
.motivos p, 
.info-pessoais ul, 
.gostos-pessoais p {
    font-size: 1rem;
    color: #000000;
    margin-top: 10px;
}


.informacoes-pessoais p {
    margin-top: 10px; 
}
.info-pessoais ul {
    list-style: none;
    padding: 0;
}

.info-pessoais ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}
.btn-download {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #e53939; /* Cor de fundo vermelha */
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-download:hover {
    background-color: #d32f2f; /* Cor de fundo vermelha mais escura ao passar o mouse */
    transform: scale(1.05);
}

.btn-download:active {
    background-color: #b71c1c; /* Cor de fundo vermelha ainda mais escura quando pressionado */
}

/* Ajuste para Responsividade */
@media (max-width: 768px) {

    .imagem-perfil {
        width: 100%; /* Ajusta a largura do contêiner da imagem para 100% da largura disponível em dispositivos móveis */
    }
    
    .imagem-perfil img {
        width: 100%; /* Ajusta a largura da imagem para 100% do contêiner em dispositivos móveis */
    }
    .content-container {
        grid-template-columns: 1fr; /* Uma coluna em dispositivos móveis */
    }

    .sobre-mim, 
    .info-pessoais, 
    .motivos, 
    .gostos-pessoais {
        grid-column: 1; /* Ocupando toda a largura disponível */
    }

    .imagem-container img {
        max-width: 100%; /* Ajustar a imagem para a largura do container */
    }
}

/* Artigos */
.container-artigos {
    background-color: #f5f5f5;
    padding: 50px;
    border: 2px solid #e53939; /* Adicionando borda */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra consistente */
    margin-bottom: 2rem; /* Espaço inferior entre as seções */
}

.titulo-artigos h2 {
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: 2px solid #e53939; /* Linha abaixo do título */
    display: inline-block;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: center; /* Centraliza o título */
    width: 100%; /* Garante que o alinhamento seja centralizado */
}



.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

/* Estilo dos Cartões */
.cartao {
    background: linear-gradient(to right, #e53939, #fc847f);
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    min-width: 300px; /* Define uma largura mínima maior para os cartões */
    max-width: calc(33.333% - 2rem); /* 33.333% para três cartões por linha, menos o gap */
    box-sizing: border-box;
    margin: 0;
}

/* Título dos Cartões */
.cartao h2 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

/* Subtítulo dos Cartões */
.cartao h3 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

/* Links dos Cartões */
.cartao a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 0.5rem;
}

.cartao a:hover {
    color: #e53939;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    transform: translateY(-5px);
}

/* Container do carrossel */
.swiper-container {
    width: 100%;
    height: auto; 
    margin-bottom: 2rem; 
    overflow: hidden; 
    position: relative; 
}

/* Slides do carrossel */
.swiper-slide {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
}

/* Estilização dos botões de navegação */
.swiper-button-next,
.swiper-button-prev {
    color: #e53939;
    background: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente para visibilidade */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.5rem;
    z-index: 10; /* Garante que os botões estejam acima do conteúdo */
}

.swiper-button-next {
    right: 10px; /* Posiciona o botão à direita */
}

.swiper-button-prev {
    left: 10px; /* Posiciona o botão à esquerda */
}

/* Paginação */
.swiper-pagination {
    bottom: 10px; /* Ajusta a posição da paginação */
}

.swiper-pagination-bullet {
    background: #e53939; /* Cor dos bullets da paginação */
}

/* Contato */
.container-contato {
    padding: 50px;
    text-align: center;
    background: #000000;
    color: #ffffff; /* Cor do texto */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem; 
}

.titulo-contato {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.titulo-contato h2 {
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: 2px solid #e53939; /* Linha abaixo do título */
    display: inline-block;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    color: #fff;
    text-align: center; /* Centraliza o título */
    width: 100%; /* Garante que o alinhamento seja centralizado */
}



.container-formulario {
    padding: 2rem;
    max-width: 600px;
    margin: auto;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #e53939;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Rodapé do site */
footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin-bottom: 10px;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-links a {
    color: #ffffff;
    font-size: 30px;
    margin: 0 10px;
    text-decoration: none;
}

.social-links a:hover {
    color: #e53939;
}
