/* Reset básico */
body, h1, h2, h3, p, ul, li, form, input, textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo Geral */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
}

/* Cabeçalho do site */
header {
    text-align: center;
    padding: 20px;
    background-color: #0c0101; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto do cabeçalho */
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

/* Navegação do site */
nav {
    background: #444;
    color: #fff;
    padding: 1rem;
}

.lista-navegacao {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.lista-navegacao li {
    margin-right: 1rem;
}

.lista-navegacao a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    transition: color 0.3s ease;
}

.lista-navegacao a:hover {
    color: #e53939;
}

/* Área principal do site */
main {
    padding: 2rem;
}

/* Estilo de containers */
.container {
    max-width: 1200px;
    margin: auto;
}

/* Home */
.container-home {
    text-align: center;
    padding: 2rem;
    background: linear-gradient(to right, #fc847f, #f22d42);
    color: #fff; /* Cor do texto */
    border-radius: 8px; /* Bordas arredondadas */
}

.home-content {
    display: flex;
    align-items: center; /* Alinha itens verticalmente no centro */
    justify-content: center; /* Alinha itens horizontalmente no centro */
    text-align: left; /* Alinha o texto à esquerda dentro do container */
}

/* Estilo da imagem e do nome */
.imagem-nome {
    display: flex;
    align-items: center; /* Alinha a imagem e o texto verticalmente no centro */
}

.imagem-perfil img {
    width: 300px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 300px; /* Ajuste o tamanho da imagem conforme necessário */
    border-radius: 50%;
    margin-right: 2rem; /* Espaçamento entre a imagem e o texto */
}

.nome-perfil {
    max-width: 600px; /* Limita a largura do texto */
}

.nome-perfil h1 {
    font-size: 3rem; /* Tamanho do texto "SOU Gisely Oliveira" */
    margin: 0; /* Remove a margem padrão do h1 */
}

/* Botão de Download */
.botao-download {
    display: inline-block;
    background-color: #fff; /* Cor do fundo do botão */
    color: #e53939; /* Cor do texto do botão */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.botao-download:hover {
    background-color: #f2f2f2; /* Cor de fundo ao passar o mouse */
    color: #e53939; /* Cor do texto ao passar o mouse */
}

/* Perfil */
.container-sobre-mim {
    padding: 2rem;
}

.perfil-titulo {
    text-align: center;
    margin-bottom: 2rem;
}

.perfil-titulo h2 {
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: 2px solid #e53939; /* Linha abaixo do título */
    display: inline-block;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
}

.motivos,
.info-pessoais {
    flex: 1;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.motivos h3,
.info-pessoais h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.motivos p,
.info-pessoais ul {
    font-size: 1rem;
    color: #666;
}

.info-pessoais ul {
    list-style: none;
    padding: 0;
}

.info-pessoais ul li {
    margin-bottom: 0.5rem;
}

.imagem-container {
    tflex: 0 0 auto;
    text-align: center;
}


.imagem-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #e53939;
}

/* Artigos */
.container-artigos {
    padding: 2rem;
}

.titulo-artigos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.cartao {
    background-color: #f70909;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Contato */
.container-contato {
    padding: 2rem;
}

.titulo-contato {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.container-formulario {
    max-width: 600px;
    margin: auto;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #e53939;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Rodapé do site */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin-bottom: 10px;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-links a {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
}

.social-links a:hover {
    color: #e53939;
}
